@model DNTFrameworkCore.TestWebApp.Application.Invoices.Models.InvoiceModel
<div class="modal-header">
   
    <h4 class="modal-title">
        @if(Model.IsNew())
        {
            @:Create New Invoice
        }
        else {
            @:Edit Invoice
        }
    </h4>
     <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 @Html.ValidationSummary(true,null,new{@class="alert alert-danger"})

<form asp-action="@(Model.IsNew() ? "Create" : "Edit")" asp-controller="Invoices" modal-form="invoice-modal">
  <input type="hidden" name="save-continue" value="true" />
  <input asp-for="RowVersion" type="hidden"/>
  <input asp-for="Id" type="hidden"/>
    <div class="form-group row">
        <div class="col col-md-6">                      
            <label asp-for="Number" class="col-form-label text-md-left"></label>
            <input asp-for="Number" readonly="@(!Model.IsNew())" autocomplete="off" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div> 
    <div class="form-group row">
        <div class="col">                      
            <label asp-for="Description" class="col-form-label text-md-left"></label>
            <textarea asp-for="Description" autocomplete="off" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div> 
</form>
</div>

<div class="modal-footer" id="invoice-modal-options">

    <button type="button" class="btn btn-light btn-circle" condition="!@Model.IsNew()" title="Delete Invoice">
        <i class="fa fa-trash text-danger"></i>
    </button>
    <a href="#" class="btn btn-light btn-circle" condition="!@Model.IsNew()" title="Refresh Invoice"
    modal-reload-link="@Url.Action("Edit","Invoices",new{id=Model.Id})">
        <i class="fa fa-repeat"></i>
    </a>

    <a href="#" class="btn btn-light btn-circle mr-auto" title="New Invoice"
     modal-reload-link="@Url.Action("Create","Invoices")">
        <i class="fa fa-plus"></i>
    </a>

    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">
        <i class="fa fa-ban"></i>
        Cancel
    </button>
    <button type="button" onclick="$('#invoice-modal').submit()" class="btn btn-primary">
        <i class="fa fa-save"></i>
        Save Changes</button>
</div>


